*{
    margin: 0;
    padding: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.navbar{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: purple;
}
.navbar .menu ul{
    float: right;
    display: inline;
}
.first{
    width: 100%;
    height: 300px;
    background-color: red;
}
.second{
    width: 100%;
    height: 300px;
    background-color: blueviolet;
}
.third{
    width: 100%;
    height: 300px;
    background-color: orange;
}

